{% load static %}
<html>
    <head>
        <title>Blog app</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5e4b755b2982740012e5f415&product=inline-share-buttons" async="async"></script>
        <link rel="stylesheet" href="{% static 'css/myapp.css' %}">
    </head>
    <body>
    	<div class="container">
    		<div class="row">
    			<div class="md-12">
    				<div style="color: red">
    				{{ error.upper }}
    				</div>
    				
    				<form method="post">
    				
						{% csrf_token %}
  						{{ form.as_p }}
  				<button type="submit" >Register</button>
  
			</form>
    		</div>
    		
    	</div>
<div class="md=6">



</body>